<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="pfemarine.html" />
                <add value="mission.html" />
                <add value="about-us.html" />
                <add value="solutions.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\wwwroot\PFEMARINE-Website" path="404.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="http://www.pfemarine.com/404.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
